page-home {
  ion-navbar.toolbar {
    border-bottom: $list-ios-header-border-bottom;
  }
  ion-grid.header {
    padding-bottom: 0;
    h2 { margin: 0 0 8px 0; }
    h3 {
      font-size: 2.4rem;
      margin: 0;
      padding-bottom: 8px;
      border-bottom: 2px solid color($colors, light);
      span { font-size: 1.4rem; }
    }
    .blue-team h2 {
      color: color($colors, blue-team) !important;
    }
    .red-team h2 {
      color: color($colors, red-team) !important;
    }
  }
  ion-grid.history {
    font-size: 1.8rem;
    ion-row ion-col {
      &:first-child { border-right: 1px solid color($colors, light); }
      &:last-child { border-left: 1px solid color($colors, light); }
    }
  }
  ion-grid.gameOver {
    border-top: 2px solid color($colors, light);
  }

  div.portrait_mode {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100000;

    h2 {
      font-size: 15vh;
      line-height: 15vh;
      margin-bottom: 1vh;
    }
    h3 {
      font-size: 70vh;
      line-height: 70vh;
    }
    .blue-team {
      h2, h3 {
        color: color($colors, blue-team) !important;
      }
    }
    .red-team {
      h2, h3 {
        color: color($colors, red-team) !important;
      }
    }
  }
}