<ion-menu [content]="content" type="reveal">
  <ion-header>
    <ion-navbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-list-header>Game Settings</ion-list-header>
      <form [formGroup]="settingsForm">
        <ion-item>
          <ion-label>Target Score</ion-label>
          <ion-select formControlName="targetScore">
            <ion-option *ngFor="let number of targetScoreValues" value="{{number}}">{{number}}{{settings.defaultTarget === number ? ' (default)' : ''}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Bust Score</ion-label>
          <ion-select formControlName="bustScore">
            <ion-option *ngFor="let number of bustScoreValues" value="{{number}}">{{number}}{{settings.defaultBust === number ? ' (default)' : ''}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item text-center>
          <button (click)="newGame()" ion-button>Start New Game</button>
          <button menuClose ion-button outline>Close</button>
        </ion-item>
      </form>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>