ion-modal.keyboard ion-backdrop {
  visibility: visible;
  background-color: white;
  opacity: .6 !important;
}
ion-modal.keyboard .modal-wrapper {
  height: 245px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
}